@import 'src/styles/vars';

.header {
  width: 100%;
  padding: 1.5rem 5rem;
  background-color: rgba(0, 0, 0, 0.719);
  position: fixed;
  color: white;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgba(182, 182, 182, 0.774) 1px;
  transition-duration: 1s;
  z-index: 5;
  &:hover {
    background-color:rgba(0, 0, 0, 0.9);
    border-bottom: solid #ffa600d3 1px;
  }

  &__toggle-btn {
    display: none;
  }

  &__text {
    display: flex;
    &--detail{
      transition-duration: 1s;
      margin: 0 1rem;
      &:hover {
        color: #ffa600;
        cursor: pointer;
      }
    }
  }

}

.active {
  color: #ffa600;;
}

.button {
  transition-duration: 1s;
  &:hover {
    color: #ffa600;
  }
}

.pseudo {
  font-weight: 600;
  color: rgb(228, 228, 228);
}

@media screen and (max-width: 60rem) {

  .header {
    padding: 1rem;
    font-size: 0.9em;
    position: fixed;
    transition: 1s;

    &__toggle-btn {
      position: absolute;
      display: block;
      z-index: 5;
      background-color: transparent;
      left: 85%;
      top: 15%;
      border: none;
      outline: none;
    }

    &__text {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
      border: 1px solid white;
      padding: 2rem 0 1rem 0;
      line-height: 1.6rem;
      left: 60%;
      top: 15%;
    }
  }

  .none {
    display: none;
  }

  .open {
    transform: translateX(-5rem) rotate(45deg);
    transition: transform 0.5s ease-out 0.3s, visibility 1s;
  }

  .close {
    transform: translateX(0) rotate(180deg);
    transition: transform 0.5s ease-out 0s, visibility 1s;
  }

  .img__menu__mobile {
    width: 20px;

  }

}