@import 'src/styles/vars';

.errorPage {
  &__404 {
    color: rgb(97, 7, 85);
    font-size: 20em;
    font-weight: bold;
    text-align: center;
    padding-top: 7rem;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  }

  &__text {
    color:rgb(97, 7, 85);
    font-size: 5em;
    text-align: center;
    margin-top: 4rem;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  }
}