.text-menu-of-todo {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width:60%;
  color: #eee;
  font-size: 2em;
  border-bottom:2px solid #eee;
  font-weight: bold;
  padding-bottom: 1rem;
}


@media screen and (max-width: 60rem) {
  .text-menu-of-todo {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width:80%;
    color: #eee;
    font-size: 1em;
    border-bottom:2px solid #eee;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}