@import 'src/styles/vars';

.first-page {
  padding-top: 6rem;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.274)),url("/src/assets/dev.jpg");
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;

  &__name {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-size: 5em;
    width: fit-content;
  }

  &__text {
    width: fit-content;
    margin: 2.5rem 0 0 2.5rem;
    font-size: 2em;
  }
}

.logo {
  display: flex;
  width:100%;
  padding-left: 4rem;
  margin-top: 3rem;
  
  &__detail {
    width: 130px;
    height: 130px;
    margin: 2rem 1rem;
  }
}

.react {
  animation: turning 7s linear infinite;
}

@keyframes turning {
  100% { 
    transform: rotate(360deg);
  }
}

.animate {
opacity: 1;
animation: smooth-transition 2s ease-in-out ;
}


@keyframes smooth-transition {
  0% {
    opacity: 0;
  }  
  100% {
    opacity: 1;
  }
}